<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Tesoro Literario</title>
    <style>
        body { font-family: 'Segoe UI', sans-serif; text-align: center; margin-top: 100px; background: #f4f8fc; }
        a { text-decoration: none; color: white; background: #1d72b8; padding: 12px 20px; border-radius: 8px; }
        a:hover { background: #155a8a; }
    </style>
</head>
<body>
    <h1>🏙️ Bienvenido al juego del tesoro literario </h1>
    <p>En esta aventura tendrás la oportunidad de viajar por diferentes ciudades de Colombia, poniendo a prueba tus conocimientos sobre la lengua española y la gramática. Tu objetivo es llegar a la ciudad de Cúcuta, donde se encuentra el tesoro literario. Para avanzar en el recorrido, deberás resolver preguntas y desafíos lingüísticos. Cada respuesta correcta desbloqueará el paso hacia la siguiente ciudad.
Prepárate para aprender, explorar y divertirte mientras recorres Colombia con el poder de las palabras. </p>
    <h1>🏙️ ¡Buena suerte en tu viaje hacia el tesoro literario! </h1>
    <a href="{{ url_for('pregunta', nivel=1) }}">Comenzar juego</a>
</body>
</html>
